body{
  background: #212529;
  background: linear-gradient(0deg, rgba(19,18,33,1) 0%, rgba(147,147,170,1) 59%, rgba(160,176,180,1) 79%, rgba(151,162,168,1) 100%);
}


.img-card{
    max-width: 80%;
}

.button-card{
    max-width: 100%;
}

.card-products{
  margin: 20px 0px;
}

.footer-main {
  background-color: #212529;
  padding: 16px;
  color: white;
}

.footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 580px) {
  .aside-div {
    display: none;
  }
}


#logo-footer {
  margin-right: 16px;
}

#footer-link {
  color: white;
}




/* Forms */


.form-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:20px;
}

.form-register{
  -webkit-box-shadow: 3px 3px 13px -6px rgba(0,0,0,0.84); 
  box-shadow: 3px 3px 13px -6px rgba(0,0,0,0.84);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin:40px;
  padding:40px;
  background-color: white;
}

#registroExitoso{
  display:none;
}