.img-card{
    max-width: 80%;
}

.button-card{
    max-width: 100%;
}

.footer-main {
  background-color: #212529;
  padding: 16px;
  color: white;
}

.footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}



#logo-footer {
  margin-right: 16px;
}

#footer-link {
  color: white;
}




/* Forms */


.form-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding:20px;
}

.form-register{
  -webkit-box-shadow: 3px 3px 13px -6px rgba(0,0,0,0.84); 
  box-shadow: 3px 3px 13px -6px rgba(0,0,0,0.84);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin:40px;
  padding:40px;
}